:root {
  --color-primary: #0077b6;
  --color-primary-text: #fff;
  --color-secondary: #468faf;
  --color-secondary-text: #fff;
  --color-body-bg: #f8f9f9;
  --color-text-primary: #212121;
  --color-text-secondary: #424242;
  --color-text-tertiary: #9e9e9e;
  --color-border: #e0e0e0;
  --color-input-bg: #fff;
  --color-card-bg: #fff;
  --font-size-base: 1em;
  --font-size-h1: 3.052em;
  --font-size-h2: 2.441em;
  --font-size-h3: 1.953em;
  --font-size-h4: 1.563em;
  --font-size-h5: 1.25em;
  --font-size-h6: 1em;
  --size-input: 3em;
  --size-button: 3em;
  --border-width: 0.125em;
  --border-radius: 0.25em;
  --shadow: 0 0.5em 2em rgba(0, 0, 0, 0.1);
  --shadow-hover: 0 0.5em 3em rgba(0, 0, 0, 0.1);
  --transition: 200ms ease;
}

[data-theme='dark'] {
  --color-primary: #90e0ef;
  --color-primary-text: #212121;
  --color-secondary: #dedbd2;
  --color-secondary-text: #212121;
  --color-body-bg: #212121;
  --color-text-primary: #fff;
  --color-text-secondary: #f5f5f5;
  --color-text-tertiary: #9e9e9e;
  --color-border: #616161;
  --color-input-bg: #424242;
  --color-card-bg: #424242;
}

[data-theme='contrast'] {
  --color-primary: #e63946;
  --color-primary-text: #fff;
  --color-secondary: #457b9d;
  --color-secondary-text: #fff;
  --color-body-bg: #fff;
  --color-text-primary: #000;
  --color-text-secondary: #000;
  --color-text-tertiary: #000;
  --color-border: #000;
  --color-input-bg: #fff;
  --color-card-bg: #fff;
  --border-width: 0.125em;
  --border-radius: 0;
  --shadow: 0 0 0 0.125em #000;
  --shadow-hover: 0 0 0 0.125em #000;
}

[data-theme='contrast'] *,
[data-theme='contrast'] *::before,
[data-theme='contrast'] *::after {
  transition-duration: 0s !important;
  transition-delay: 0s !important;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* stylelint-disable-line */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  transition: all var(--transition);
  background: var(--color-body-bg);
  color: var(--color-text-secondary);
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em;
  padding: 0;
  color: var(--color-primary);
  line-height: 1.25;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

h6 {
  font-size: var(--font-size-h6);
}

p {
  margin: 0 0 1em;
}

p:last-child {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

::-moz-placeholder {
  color: var(--color-text-tertiary);
}

::placeholder {
  color: var(--color-text-tertiary);
}

.label {
  line-height: 1.5;
  cursor: pointer;
}

.input {
  height: var(--size-input);
  padding: 0 calc(var(--size-input) / 3);
  transition: all var(--transition);
  border: var(--border-width) solid var(--color-primary);
  border-radius: var(--border-radius);
  outline: none;
  background: var(--color-input-bg);
  color: var(--text-primary);
  line-height: normal;
  caret-color: var(--color-primary);
}

.input--secondary {
  border-color: var(--color-secondary);
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--size-button);
  margin: 0;
  padding: 0 calc(var(--size-button) / 1.5);
  transition: all var(--transition);
  border: var(--border-width) solid transparent;
  border-radius: var(--border-radius);
  outline: none;
  background: var(--color-primary);
  color: var(--color-primary-text);
  line-height: normal;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}

.btn:hover, .btn:focus {
  filter: saturate(125%);
}

.btn:active {
  filter: saturate(75%);
}

.btn--secondary {
  background: var(--color-secondary);
  color: var(--color-secondary-text);
}

.btn--outlined {
  border-color: var(--color-primary);
  background: transparent;
  color: var(--color-primary);
}

.btn--outlined.btn--secondary {
  border-color: var(--color-secondary);
  background: transparent;
  color: var(--color-secondary);
}

.checkbox {
  display: inline-block;
  vertical-align: baseline;
  cursor: pointer;
}

.checkbox__text {
  display: inline-block;
  position: relative;
  padding-left: 1.5em;
}

.checkbox__text::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 1em;
  height: 1em;
  transform: translateY(-50%);
  transition: all var(--transition);
  border: var(--border-width) solid var(--color-primary);
  border-radius: var(--border-radius);
  background-color: transparent;
  box-shadow: inset 0 0 0 1em var(--color-input-bg);
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked ~ .checkbox__text::before {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
  box-shadow: inset 0 0 0 0.125em var(--color-input-bg);
}

.checkbox--secondary .checkbox__text::before {
  border-color: var(--color-secondary);
}

.checkbox--secondary .checkbox__input:checked ~ .checkbox__text::before {
  border-color: var(--color-secondary);
  background-color: var(--color-secondary);
}

.radio {
  display: inline-block;
  vertical-align: baseline;
  cursor: pointer;
}

.radio__text {
  display: inline-block;
  position: relative;
  padding-left: 1.5em;
}

.radio__text::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 1em;
  height: 1em;
  transform: translateY(-50%);
  transition: all var(--transition);
  border: var(--border-width) solid currentColor;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: inset 0 0 0 1em var(--color-input-bg);
}

.radio__input {
  display: none;
}

.radio__input:checked ~ .radio__text::before {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
  box-shadow: inset 0 0 0 0.125em var(--color-input-bg);
}

.radio--secondary .radio__text::before {
  border-color: var(--color-secondary);
}

.radio--secondary .radio__input:checked ~ .radio__text::before {
  border-color: var(--color-secondary);
  background-color: var(--color-secondary);
}

.table {
  width: 100%;
  max-width: 100%;
  margin: 0 0 1em;
  border-collapse: collapse;
  border-color: var(--color-border);
}

.table:last-child {
  margin-bottom: 0;
}

.table tbody,
.table tfoot,
.table thead,
.table tr {
  border-width: 0;
  border-style: solid;
  border-color: inherit;
}

.table caption {
  padding: 0.5rem;
  caption-side: bottom;
  color: var(--color-text-tertiary);
  text-align: left;
}

.table th,
.table td {
  padding: 0.5rem;
  border-width: 0 0 var(--border-width);
  border-style: solid;
  border-color: inherit;
}

.table th {
  color: var(--color-primary);
  text-align: inherit;
}

thead .table th {
  border-color: var(--text-primary);
}

.card {
  border-radius: var(--border-radius);
  background: var(--color-card-bg);
  box-shadow: var(--shadow);
  transition: all var(--transition);
}

.card__header {
  padding: 1.5em 2em;
  font-size: var(--font-size-h6);
  font-weight: bold;
}

.card__featured {
  width: 100%;
}

.card__featured-img {
  aspect-ratio: 4 / 3;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.card__body {
  padding: 1.5em 2em;
  border-top: var(--border-width) solid var(--color-border);
}

.card__featured ~ .card__body {
  border-top: 0;
}

.card__footer {
  padding: 1.5em 2em;
  border-top: var(--border-width) solid var(--color-border);
  color: var(--color-text-tertiary);
}

.card__footer-actions {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.card:hover {
  transform: translateY(-5px) scale(1.005);
  box-shadow: var(--shadow-hover);
}

.site-wrapper {
  max-width: 868px;
  margin: 0 auto;
}

.site-header {
  margin: 2em;
  text-align: center;
}

.site-title {
  color: var(--color-text-primary);
  font-size: var(--font-size-h3);
  text-transform: uppercase;
}

.site-content {
  margin: 2em;
}

.site-footer {
  margin: 2em;
}

.elements__section {
  margin-bottom: 2em;
  padding: 2em;
  border-radius: var(--border-radius);
  background: var(--color-card-bg);
  box-shadow: var(--shadow);
}

.elements__section--no-styling {
  padding: 0;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
}

.elements__section:last-child {
  margin-bottom: 0;
}

.elements__section input[type='text'] {
  width: 100%;
}

.icons {
  display: flex;
  gap: 2em;
  justify-content: space-between;
  color: var(--color-primary);
  text-align: center;
}

.icons__item {
  flex: 1 0 auto;
}

.icons__item .material-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  background: var(--color-body-bg);
  font-size: 2em;
}
